// CSS FOR GLOBAL
$navbar-default-bg: #FFB900;
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 0px;
  margin-left: 0px;
}
//===================================================================================//
// IMPORT BOOTSTRAP
@import "bootstrap-sprockets";
@import "bootstrap";
//===================================================================================//
// CSS FOR HEADER
#logo {
  float: left;
  font-size: 2.5vw;
  color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-left: 40px;
}
.nav  a:hover {
  color: #FAFAFA !important;
}
.navbar-default {
  border-radius: initial !important;
}
.dropdown-menu li a:hover {
  color: #FFB900 !important;
}
//===================================================================================//
// CSS FOR BUTTON
.btn-custom {
  background-color: #FAFAFA !important;
  border: 1px solid #FAFAFA;
  color: #FFB900;
}
.btn-custom:hover {
  background-color: #FFB900!important;
  border: 1px solid #FFB900;
  color: #FAFAFA;
}
.btn-custom, .btn-custom:hover {
  margin-top: 80px;
  font-size: 1.5vw;
}
//===================================================================================//
// CSS FOR JUMBOTRON
.jumbotron {
  background-image: asset-url('jumbotron.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -36px;
  border: none;
  border-radius: initial !important;
  height: 100%;
}
.center {
  text-align: center;
  h2 {
    letter-spacing: -1px;
    font-weight: bold;
    color: #FFB900;
    padding-top: 45px;
    font-size: 2vw;
  }
}
//===================================================================================//
// CSS FOR FOOTER
.footer {
  height: 50px;
}
.footer small {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
}
.footer ul {
  float: right;
  margin-right: 40px;
  margin-top: 5px;
  list-style-type: none;
}
.footer ul {
  margin-top: 5px;
}
.footer a:hover {
  color: #FAFAFA;
  text-decoration: none;
}
//===================================================================================//
//CSS FOR PAGINATION
.paginate {
  text-align: center;
  li.active a {
    background-color: #FAFAFA;
    border: 1px solid #FFB900;
    color: #FFB900;
  }

  li.active a:hover {
     background-color:  #FFB900;
     border: 1px solid #FFB900;
  }
  li a:hover {
    background-color:  #FFB900;
    color: #FAFAFA;
  }
}
.paginate-bottom {
  position: relative;
  margin-bottom: 40px !important;
}
//===================================================================================//
// CSS FOR SHOW ARTICLE
.article-title {
  font-weight: bold;
  font-size: 1.5em;
  a {
    color: #FFB900;
  }
  a:hover {
    text-decoration: none;
  }
}
.article-body {
  border-top: 1px solid #FFB900;
  padding-top: 15px;
  padding-bottom: 15px;
}
.well {
  border: 1px solid #FFB900 !important;
  background-color: #FAFAFA !important;  
}
.article-meta-details {
  border-top: 1px solid #FFB900;
  margin-top: 15px;
}
.article-actions {
  border-top: 1px solid #FFB900;
  padding-top: 5px;
}
.description {
  margin-top: 0;
}
#delete a{
  color: #FFB900;
}
#delete a:hover {
  text-decoration: none;
  font-weight: bold;
}
//===================================================================================//
// CSS FOR USERS INCLUDE SHOW USER, LOGIN, SIGNUP
.listing {
  list-style: none;
  padding-left: 0;
}
.sign-up .btn-custom {
  margin-top: 10px;
}
//===================================================================================//
//CSS FOR CANCEL OR REQUEST ACTION IN FORM
.request a{
  color: #FFB900;
}
.request a:hover {
  text-decoration: none;
}
//===================================================================================//
//CSS FOR SHOW MESSAGE
.col-xs-12 {
  position: relative;
  margin-top: -20px;
}
.alert-success, .alert-danger {
  border-radius: initial !important;
}
//===================================================================================//
// CSS FOR COMMON ELEMENT
.heading {
  padding-bottom: 20px;
  h1 {
    font-size: 2vw;
  }
}
.button {
  position: relative;
  margin-top: -50px;
}