// CSS FOR GLOBAL
$navbar-default-bg: #FFB900;
.body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
}
.container-fluid {
 padding-right:0;
 padding-left:0;
 min-height: 100vh;
}

// IMPORT BOOTSTRAP

@import "bootstrap-sprockets";
@import "bootstrap";

// CSS FOR HEADER
#logo {
  float: left;
  font-size: 1.7em;
  color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.nav  li  a:hover {
  color: #FAFAFA !important;
}

// CSS FOR BUTTON
.btn-custom {
  background-color: #FAFAFA !important;
  border: 1px solid #FAFAFA;
  color: #FFB900;
}
.btn-custom:hover {
  background-color: #FFB900!important;
  border: 1px solid #FFB900;
  color: #FAFAFA;
}
.btn-custom, .btn-custom:hover {
  margin-top: 80px;
  font-size: 1.3em;
}
// CSS FOR JUMBOTRON
.jumbotron {
  background-image: asset-url('jumbotron.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: calc(69% - 69vw);
  max-width: 1000%;
  width: auto;
}
.center {
  text-align: center;
  h2 {
    letter-spacing: -1px;
    font-weight: bold;
    color: #FFB900;
    padding-top: 40px;
  }
}
// CSS FOR FOOTER
.navbar-fixed-bottom {
  position: relative;
  margin-top: 10px;
}
.footer small {
  float: left;
}
.footer ul {
  float: right;
  list-style-type: none;
}
.footer small, .footer ul {
  margin-top: 5px;
}

.footer a:hover {
  color: #FAFAFA;
  text-decoration: none;
}

.request a{
  color: #FFB900;
}

.request a:hover {
  text-decoration: none;
}

.article-actions {
  border-top: 1px solid #FFB900;
  padding-top: 5px;
}

.well {
  border: 1px solid #FFB900 !important;
  background-color: #FAFAFA !important;  
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  a {
    color: #FFB900;
  }
  a:hover {
    text-decoration: none;
  }
}

.article-body {
  border-top: 1px solid #FFB900;
  padding-top: 15px;
  padding-bottom: 15px;
}

.dropdown-menu li a:hover {
  color: #FFB900 !important;
}

.article-meta-details {
  border-top: 1px solid #FFB900;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.paginate {
  text-align: center;
  li.active a {
    background-color: #FAFAFA;
    border: 1px solid #FFB900;
    color: #FFB900;
  }

  li.active a:hover {
     background-color:  #FFB900;
     border: 1px solid #FFB900;
  }
  li a:hover {
    background-color:  #FFB900;
    color: #FAFAFA;
  }
}

div.pagination {
  position: relative;

}

