<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="footer">
      <small>
        Copyright &copy; by Le Thanh Viet
      </small>
      <nav>
        <ul>
          <li><%= link_to 'About', pages_about_path %></li>
        </ul>
      </nav>
  </div>
</nav>