<nav class="navbar navbar-default">
  <div class="container footer">
      <small>
        Copyright &copy; by Le Thanh Viet
      </small>

      <nav>
        <ul>
          <li><%= link_to 'About', pages_about_path %></li>
        </ul>
      </nav>
  </div>
</nav>